.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* // background: rgba(0, 0, 0, 0.5);
  // backdrop-filter: blur(8px);
  // display: flex;
  // align-items: center;
  // justify-content: center;
  // z-index: 1000;
  // pointer-events: auto; */
  pointer-events: none;
}

.modal-content {
  position: relative;
  background: var(--card-background);
  box-shadow: var(--inset-light);
  border: 1px solid var(--card-border);
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  width: clamp(300px, 90vw, 800px);
  max-height: 90vh;
  padding: 0;
  /* cursor: default; */
  cursor: grab;
  transform: none;
}

.modal-content.draggable {
  cursor: move;
}

.modal-header {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.modal-close-btn {
  background: none;
  border: none;
  color: red;
  font-size: 1.2em;
  cursor: pointer;
}

.placeholder-video {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: #f0f0f0;
  color: #777;
  font-size: 0.9em;
  text-align: center;
  border-radius: 60px;
}

.self-video.hidden {
  display: none;
}

.self-video {
  width: 100%;
  height: 75%;
  border-radius: 50px;
  object-fit: cover;
  display: block;
}

.audio-bars-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: 100%;
  height: 20%;
}

.audio-bar {
  width: 8%;
  height: 100%;
  background-color: #ccc;
  transition: height 0.2s ease;
}

.audio-bar.filled {
  background-color: rgb(0, 200, 0); /* Default active color */
}
